h1 {
color: #000;
}

 /* Anidacion de selectores en CSS */
.nombre-sitio span { 
  color: #037bc0;
}

.navegacion {

  background-color: gray;
}
.navegacion a{
  text-transform: uppercase;
}
.enlace {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #037bc0;
}