h1 {
color: #000;
}

 /* Anidacion de selectores en CSS */
h1 span { 
  color: #027bc0;
}

h2 span  {
  color: green;
}

nav a {
  text-transform: uppercase;
}

.navegacion a {

  text-transform: lowercase;
}

#navegacion a {
  text-transform: capitalize;
}
